<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="AppDataFolder" />
    </DirectoryRef>
    <DirectoryRef Id="AppDataFolder">
      <Directory Id="MyAppDataDir" Name="OnlineDivision" />
    </DirectoryRef>
    <DirectoryRef Id="MyAppDataDir">
      <Component Id="MyCredentialFileComponent" Guid="c4e325c4-a53e-4fef-bdd0-3685754626c4">
	    <RegistryValue Root="HKCU"
                 Key="Software\OnlineDivision\division.client"
                 Name="Installed"
                 Type="integer"
                 Value="1"
                 KeyPath="yes" />
        <File Id="MyExtraFile" Name="credentials.json" Source="..\..\..\..\windows\credentials.json" />
		<RemoveFile Id="RemoveExtraFile" Name="credentials.json" On="uninstall" />
		<RemoveFolder Id="RemoveAppDataDir" Directory="MyAppDataDir" On="uninstall" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>