:root {
  --dark-foreground-element-color: #141414;
  --normal-foreground-element-color:#1a1717; 
  --main-font-color: #a87678;
  --background-color:#3d2222;
  
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
    
  color: var(--main-font-color);
  background-color: var(--background-color);/*#422828;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

textarea {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 3px;
}

textarea::placeholder {
  color:var(--main-font-color); 
}

code,pre {
  width: calc(100vw - 450px);
  overflow-y: scroll;
  background-color:var(--dark-foreground-element-color);
  color: grey ;  
}

code {
  padding: none;
  font-size: 15px;
  line-height: 14px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    width: 100px;
    cursor: pointer;
    border: none;
    background-color: var(--normal-foreground-element-color);
    height:43px;
}
.custom-file-upload:hover {
  color: white;
  background-color:var(--main-font-color);
}
.container {
  margin: 0;
  height: 100%;
  /*padding-top: 10vh;*/
  /*display: flex;
  --flex-direction: column;*/
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

a:link {
  color:#9bafc2;
}

a:hover {
  color:#c1d4e6;
}

p {
  margin: 0;
}

h1, h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.heading-node {
  text-align: start;
}

.csv {  
  background-color:var(--dark-foreground-element-color);
  color: var(--main-font-color);
}
.csv::placeholder {
  color: var(--main-font-color);
}
.csv:hover {
  border-color: var(--main-font-color);
}

.csvb {
height: 40px; text-align:center; background-color:var(--dark-foreground-element-color);
}
.csvb:hover {
  border-color: var(--main-font-color);
}

.user-icon {
  border-radius: 40px 40px 40px 40px;
  margin-top: 10px;
}

.user-list-icon {
  margin-left: 5px;
  width: 44px;
  height: 44px;
  border-radius: 40px 40px 40px 40px;
  margin-top: 2px;
}

.cui {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 40px 40px 40px 40px;
  border: 2px solid transparent;
transition: 0.2s;
}

.row {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  right: 0.5vw;
  left: 260px;
  width: calc(100vw - 337px);
  z-index: 9999;
}

.channel_button {
  background-color: var(--normal-foreground-element-color);
}

.column {
    transition: 0.2s; 
    background-color: var(--dark-foreground-element-color);
    position: absolute;
    top: 75px;
    left: 5px;
    height: calc(100vh - 155px);
    width: 60px;
    z-index: 9999;
    border-radius: 40px 40px 40px 40px;
    border: 2px solid transparent;
}
.createSButton {
    transition: 0.2s; 
    background-color: var(--dark-foreground-element-color);
    position: absolute;
    top:calc(100vh - 70px);
    left: 5px;
    height: 60px;
    width: 60px;
    z-index: 9999;
    border-radius: 60px 60px 60px 60px;
    border: 2px solid transparent;
    text-align: center;
  }
  .login {
    
    background-color: var(--dark-foreground-element-color);
    position: absolute;
    display: flex;
    flex-direction: column;
    top: calc(50vh - 200px);
    left: calc(50vw - 150px);
    height: calc(100vh - 155px);
    width: 300px;
    height: 400px;
    z-index: 9999;
    text-align: center;
  }

  .loginError {
    
    background-color: var(--dark-foreground-element-color);
    position: absolute;
    display: flex;
    flex-direction: column;
    top: calc(50vh - 250px);
    left: calc(50vw - 150px);
    width: 300px;
    height: 50px;
    z-index: 9999;
    color: red;
    text-align: center;
  }

  .server-users {
    overflow-y: hidden;
    overflow-x: scroll;
    transition: 0.2s;
    background-color: var(--dark-foreground-element-color);
    position: absolute;
    top: 5px;
    right: 5px;
    height: calc(100vh - 11px);
    width: 60px;
    border-radius: 40px 40px 40px 40px;
    border: 2px solid transparent;
    z-index: 9999;
  }

  .chanels {

    background-color: var(--normal-foreground-element-color);
    position: absolute;
    top: 5px;
    left: 73px;
    height: calc(100vh - 15px);
    width: 180px;
    border: 2px  solid transparent;
    display: flex;
    z-index: 9999;
    flex-direction: column;
    overflow-y: scroll;
  }


  .message {
    text-align: left;
    padding-left: 10px;
    /* display:flex; */
    /* flex-direction: column; */
  }

  .comp-mess {
    text-align: left;
    padding-left: 10px;
    display: flex;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;  
  }


  .user {
    display:flex;
  }
  .mdate {
    color: transparent;
}
.comp-mess:hover  .mdate  {
  color: var(--main-font-color);
}
#chat {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  left: 260px;
  width: calc(100vw - 332px);
  top: 68px;
  height: calc(100vh - 120px);
  overflow-y: scroll;
}

#chat .message img{
  max-width:480px;
  border-radius: 8px;
  width: auto;
  height: auto;
}

#chat .message video{
  max-width:480px;
  border-radius: 8px;
  width: auto;
  height: auto;
}

.file-preview{
  position:absolute; 
  z-index:10000; 
  left: 12px; 
  bottom: 56px; 
  max-width: 320px; 
  background:var(--normal-foreground-element-color); 
  padding:8px; 
  border-radius:8px;
}

#channel-header {
  justify-content: center;
  text-align: left;
  position: absolute;
  top: 5px;
  border-bottom: 2px solid var(--dark-foreground-element-color);
  width: calc(100vw - 332px);
  height: 63px;
  left: 260px;
  background-color: var(--normal-foreground-element-color);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
display: none;
}

body {
  height: 100vh;
  margin: 0px;
}

button {
 background-color: var(--normal-foreground-element-color);
 color: var(--main-font-color);
 outline: none;
 border: 0px;
  text-align: left;
  font-size: 16px;
}

button:hover {
  background-color:var(--main-font-color);
  color: white;
}

.comp-mess:hover {
  background-color: var(--normal-foreground-element-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}



input {
  margin-right: 0px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);*/

}
#send {
  padding-left: 0px;
  border-radius: 0px;
  border: 2px solid transparent;
  padding: 10px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0);
  width: 62px;
}

#send {
  cursor: pointer;
  background-color: var(--normal-foreground-element-color);
  color: var(--main-font-color);
}


.column:hover {
  border-color: var(--dark-foreground-element-color);
  border-radius: 20px 20px 20px 20px;

  transition: border-radius 0.2s;
}

.server-users:hover {
  width: 160px;
  border-color: var(--dark-foreground-element-color);
  border-radius: 20px 20px 20px 20px;
  transition: 0.2s;
}

.user-icon:hover {
  border-radius: 25px 25px 25px 25px;
  transition: 0.2s;
}

.cui:hover {
  border-radius: 25px 25px 25px 25px;
  transition: 0.2s;
}

.chanels:hover {
border-color: var(--main-font-color);
}

#send:hover {
  border-color: var(--main-font-color);
  background-color:var(--main-font-color); 
  color: #ffffff;
}


input,
button {
  outline: none;
}

#app {
  height: 100%;
}

#greet-input {
  margin-right: 0px;
  padding-top: 7px;
  background-color: var(--normal-foreground-element-color);/*#230d0e;*/ 
  color: var(--main-font-color);
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100vw;
  border: none;
  resize: none;
  /* min-height: 10px; */
  max-height: 100px
}

#greet-input:focus {
  outline: none;  
}

.e-mail {
  background-color: var(--normal-foreground-element-color);/*#230d0e;*/ 
  color: var(--main-font-color);
  bottom: 0;
  margin-top: 40px;
  margin-left: 30px;
  width: 200px;
}

.username {
  background-color: var(--normal-foreground-element-color);/*#230d0e;*/ 
  color: var(--main-font-color);
  bottom: 0;
  margin-top: 90px;
  margin-left: 30px;
  width: 200px;
}

.password {
  background-color: var(--normal-foreground-element-color);/*#230d0e;*/ 
  color: var(--main-font-color);
  bottom: 0;
  margin-top: 10px;
  margin-left: 30px;
  width: 200px;
}

.loginb {
  cursor:pointer;
  background-color: var(--normal-foreground-element-color);/*#230d0e;*/ 
  color: var(--main-font-color);
  bottom: 0;
  margin-top: 10px;
  margin-left: 30px;
  height: 40px;
  width: 240px;
  justify-content: center;
  text-align: center;
}
.change-login {
  cursor:pointer;
  background-color: var(--normal-foreground-element-color);/*#230d0e;*/ 
  color: var(--main-font-color);
  bottom: 0;
  position: absolute;
  top: calc(50vh + 190px);
  left: calc(50vw - 180px);
  margin-top: 10px;
  margin-left: 30px;
  height: 40px;
  width: 300px;
  justify-content: center;
  text-align: center;
}

.settings-background {
  background-color: rgba( 0, 0, 0, 0.6 );
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10001;
  backdrop-filter: blur(4px) saturate(120%);
}

.settings {
	background-color: #292222;
    position: absolute;
    display: flex;
    flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    z-index: 10010;
    text-align: left;
	color: var(--main-font-color);
	padding: 0% 2% 1% 2%;
}

.settings-titlebar {
	justify-content: space-between;
    align-items: center;
	display: flex;
	width: 100%;
	position: relative;  
}

.closebutton {
    transition: 0.2s; 
    background-color: var(--dark-foreground-element-color);
    height: 30px;
    width: 30px;
	padding-left: 5px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid transparent;
    text-align: center;
}

.image-wrapper {
  flex: 0 0 auto;
  width: 30vw;
  margin-bottom: 4%;
}

.image-container {
  position: relative;
  display: inline-block;
}

.large-icon {
  border-radius: 100%;
  border: 2px solid transparent;
  transition: 0.2s;
  display: block;
  position: relative;
  margin-left: calc(15vw - 150px);
  width: 300px;
  height:300px;
  margin-top: 2%;
  z-index: 1;
}

.edit-pfp {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-color: var(--dark-foreground-element-color);
  border: 2px solid transparent;
  text-align: center;
  position: absolute;
  bottom: 5%;
  right: 0%;
  z-index: 99;
  color: var(--main-font-color);
}

.menu-button{
	transition: 0.2s; 
    background-color: var(--dark-foreground-element-color);
    height: 50%;
    width: auto;
	padding-left: 5px;
    border-radius: 4px 4px 4px 4px;
    border: 2px solid transparent;
    text-align: center;
	color: var(--main-font-color);
}
.settings-container{
	display: flex;
	gap:3%;
	width:100%;
	height: 100%;
}
.logout {
	transition: 0.2s; 
    background-color: var(--dark-foreground-element-color);
	padding-left: 5px;
	width: 100%;
    border-radius: 4px 4px 4px 4px;
    border: 2px solid transparent;
    text-align: center;
	color: var(--main-font-color);
}

.name-change {
	display: flex;
	width: 100%;
	margin-left: 2%;
	flex-direction: column;
	align-items: center;
	color: var(--main-font-color);
}
.settings-right {
	flex:2;
	background-color: #292222;
	display: flex;
	flex-direction: column;
}
@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #210c0d;
  }
  button:active {
    background-color: #230d0e;
  }
}

input::placeholder {
  color: var(--main-font-color);
}
