:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
    
  color: #a87678;
  background-color: #3d2222;/*#422828;*/




  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    width: 100px;
    cursor: pointer;
    background-color: #1a1717;
    height:43px;
}
.custom-file-upload:hover {
  color: white;
  background-color:#a87678;
}
.container {
  margin: 0;
  height: 100%;
  /*padding-top: 10vh;*/
  /*display: flex;
  --flex-direction: column;*/
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.csv {  
  background-color:#141414;
  color: #a87678;
}
.csv::placeholder {
  color: #a87678;
}
.csv:hover {
  border-color: #a87678;
}

.csvb {
height: 40px; text-align:center; background-color:#141414;
}
.csvb:hover {
  border-color: #a87678;
}

.cancelr{
  background-color: #3b0505;
}


.user-icon {
  border-radius: 40px 40px 40px 40px;
  margin-top: 10px;
}

.cui {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 40px 40px 40px 40px;
  border: 2px solid transparent;
transition: 0.2s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  right: 0.5vw;
  left: 260px;
  width: calc(100vw - 267px);
  z-index: 9999;
}

.channel_button {
  background-color: #1a1717;
}

.column {
    transition: 0.2s; 
    background-color: #141414;
    position: absolute;
    top: 75px;
    left: 5px;
    height: calc(100vh - 155px);
    width: 60px;
    z-index: 9999;
    border-radius: 40px 40px 40px 40px;
    border: 2px solid transparent;
}
.createSButton {
    transition: 0.2s; 
    background-color: #141414;
    position: absolute;
    top:calc(100vh - 70px);
    left: 5px;
    height: 60px;
    width: 60px;
    z-index: 9999;
    border-radius: 60px 60px 60px 60px;
    border: 2px solid transparent;
    text-align: center;
  }
  .login {
    
    background-color: #141414;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: calc(50vh - 200px);
    left: calc(50vw - 150px);
    height: calc(100vh - 155px);
    width: 300px;
    height: 400px;
    z-index: 9999;
    text-align: center;
  }

  .loginError {
    
    background-color: #141414;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: calc(50vh - 250px);
    left: calc(50vw - 150px);
    width: 300px;
    height: 50px;
    z-index: 9999;
    color: red;
    text-align: center;
  }

  .server-users {
    transition: 0.2s;
    background-color: #141414;
    position: absolute;
    top: 5px;
    right: 5px;
    height: calc(100vh - 60px);
    width: 60px;
    border-radius: 40px 40px 40px 40px;
    border: 2px solid transparent;
  }

  .chanels {

    background-color: #1a1717;
    position: absolute;
    top: 5px;
    left: 73px;
    height: calc(100vh - 15px);
    width: 180px;
    border: 2px  solid transparent;
    display: flex;
    z-index: 9999;
    flex-direction: column;
    overflow-y: scroll;
  }


  .message {
    text-align: left;
    padding-left: 10px;
  }

  .comp-mess {
    text-align: left;
    padding-left: 10px;
    display: flex;
  }


  .user {
    display:flex;
  }
  .mdate {
    color: transparent;
}
.comp-mess:hover  .mdate  {
  color: #a87678;
}
#chat {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  left: 260px;
  width: calc(100vw - 332px);
  top: 68px;
  height: calc(100vh - 120px);
  overflow-y: scroll;
}

#chat .message img{
  max-width:480px;
  border-radius: 8px;
  width: auto;
  height: auto;
}

#chat .message video{
  max-width:480px;
  border-radius: 8px;
  width: auto;
  height: auto;
}

.file-preview{
  position:absolute; 
  z-index:10000; 
  left: 12px; 
  bottom: 56px; 
  max-width: 320px; 
  background:#1a1717; 
  padding:8px; 
  border-radius:8px;
}

#channel-header {
  justify-content: center;
  text-align: left;
  position: absolute;
  top: 5px;
  border-bottom: 2px solid #141414;
  width: calc(100vw - 332px);
  height: 63px;
  left: 260px;
  background-color: #1a1717;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
display: none;
}

body {
  height: 100vh;
  margin: 0px;
}

button {
 background-color: #1a1717;
 color: #a87678;
 outline: none;
 border: 0px;
  text-align: left;
  font-size: 16px;
}

button:hover {
  background-color:#a87678;
  color: white;
}

.comp-mess:hover {
  background-color: #1a1717;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}



input {
  margin-right: 0px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);*/

}
#send {
  padding-left: 0px;
  border-radius: 0px;
  border: 2px solid transparent;
  padding: 10px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0);
  width: 62px;
}

#send {
  cursor: pointer;
  background-color: #1a1717;
  color: #a87678;
}

#greet-input:hover {
  border-color: #a87678;
  background-color:#141414; 
}

.column:hover {
  border-color: #141414;
  border-radius: 20px 20px 20px 20px;

  transition: border-radius 0.2s;
}

.server-users:hover {
  border-color: #141414;
  border-radius: 20px 20px 20px 20px;

  transition: border-radius 0.2s;
}

.user-icon:hover {
  border-radius: 25px 25px 25px 25px;
  transition: 0.2s;
}

.cui:hover {
  border-radius: 25px 25px 25px 25px;
  transition: 0.2s;
}

.chanels:hover {
border-color: #a87678;
}

#send:hover {
  border-color: #a87678;
  background-color:#a87678; 
  color: #ffffff;
}


input,
button {
  outline: none;
}

#app {
  height: 100%;

}

#greet-input {
  margin-right: 0px;
  background-color: #1a1717;/*#230d0e;*/ 
  color: #a87678;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100vw;
}

.e-mail {
  background-color: #1a1717;/*#230d0e;*/ 
  color: #a87678;
  bottom: 0;
  margin-top: 40px;
  margin-left: 30px;
  width: 200px;
}

.username {
  background-color: #1a1717;/*#230d0e;*/ 
  color: #a87678;
  bottom: 0;
  margin-top: 90px;
  margin-left: 30px;
  width: 200px;
}

.password {
  background-color: #1a1717;/*#230d0e;*/ 
  color: #a87678;
  bottom: 0;
  margin-top: 10px;
  margin-left: 30px;
  width: 200px;
}

.loginb {
  cursor:pointer;
  background-color: #1a1717;/*#230d0e;*/ 
  color: #a87678;
  bottom: 0;
  margin-top: 10px;
  margin-left: 30px;
  height: 40px;
  width: 240px;
  justify-content: center;
  text-align: center;
}
.change-login {
  cursor:pointer;
  background-color: #1a1717;/*#230d0e;*/ 
  color: #a87678;
  bottom: 0;
  position: absolute;
  top: calc(50vh + 190px);
  left: calc(50vw - 180px);
  margin-top: 10px;
  margin-left: 30px;
  height: 40px;
  width: 300px;
  justify-content: center;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #210c0d;
  }
  button:active {
    background-color: #230d0e;
  }
}

input::placeholder {
  color: #a87678;
}
