name: npm Linters

on:
  pull_request:
    branches: ["main"]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v5
      with:
        node-version: 18
    - run: npm ci && npm run lint

