name: Rust CI Linter

on:
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Update APT Repository
      run: sudo apt update
    - name: Install Build Dependencies
      run: sudo apt install -y libglib2.0-dev libgtk-3-dev libpango1.0-dev libwebkit2gtk-4.1-dev 
    - name: Lint
      working-directory: ./src-tauri
      run: cargo clippy --verbose
